#main-container{
	width: 100vw;
	height: 100vh;
	display: flex;
	background-color: #EDECEC;
}
.left{
	width: 50%;
}
.right{
	width: 50%;
}
.left>img{
	height: 200px;
	width: 250px;
	padding-left: 35px;
}
.left>p{
	padding-left: 10px;
}

.box2{
	background-color: #fff;
	margin: 60px 20px 0px 40px;
	box-shadow: 0px 0px 3px;
	border-radius: 5px;
	height: 200px;
	width: 280px;
	padding-left: 40px;
	padding-top: 40px;
}
.box2 > input{
	height: 25px;
	width: 80%;
	margin: 5px;
}

.btn1{
	height: 29px;
	width: 80%;
	background-color: blue;
	color: white;
	border-style: none;
	border-radius: 5px;
	margin: 10px;
}

.btn2{
	height: 29px;
	width: 80%;
	background-color: green;
	color: white;
	border-style: none;
	border-radius: 5px;
	margin: 10px;
}
.box2>a{
	text-decoration: none;
	margin: 10px;
}